ul.nos-engagement {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul.nos-engagement li img{
    align-items: center;
}

ul.nos-engagement li {
    list-style: none;
    margin: 10px;
    font-size: 20px;
    width: fit-content;
    align-items: center;
}

ul.nos-engagement li h3 {
    color: rgb(226, 126, 4);
    font-size: 25px;
    justify-content: center;
    text-transform: uppercase;
    font-family: bold;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
}

li img {
    width: 100px;
    height: 100px;
}

.handshake {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.Nos-engagements h2 {
    text-align: center;
    font-size: 30px;
    font-family: bold;
    color: rgb(226, 126, 4);
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.Nos-engagements p {
    text-align: center;
    font-size: 20px;
    max-width: 1220px;
    margin: auto;
    margin-bottom: 50px;
}