img.FP {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-top: 25px;
    /* margin-left: 5%; */
}

h1.title {
    font-size: 35px;
    font-weight: 300;
    color: rgb(245, 110, 20);
    margin-top: 45px;
    margin-left: 3%;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 2px solid rgb(245, 110, 20);
}

h2.title {
    font-size: 35px;
    font-weight: 300;
    color: rgb(245, 110, 20);
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 20px;
    font-weight: 200;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    text-align: justify;
    color: rgb(97, 96, 96);
    line-height: 25px;
}

.présentation {
    line-height: 30px;
}

div.separating-line {
    height: 2px;
    background-color: rgb(130, 130, 130);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

ul.nos-offres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 0px;
    padding: 15px;
    padding-bottom: 50px;
    list-style: none;
    /* border-radius: 15px;
    border: 1px solid rgb(245, 110, 20); */
}

ul.nos-offres img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    /* margin-bottom: ; */
}

.FM {
    text-align: center;
    margin-left: 43%;
}

.FM a {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    border-radius: 15px;
}

.FM a:hover {
    background-color: rgba(223, 221, 221, 0.934);
    transition: 0.5s;
    transform: scale(1.1);
}

.FM img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

ul.nos-offres li {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    padding: 0px 10px 40px 20px;
    object-fit: cover;
    object-position: center;
    /* margin-bottom: ; */
}

.nos-offres li a {
    text-align: justify;
    color: black;
    text-decoration: none;
}

.nos-offres li:hover {
    background-color: rgba(223, 221, 221, 0.934);
    
    transition: 0.3s;
    transform: scale(1.1);
}

ul.mot-de-direction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkgrey;
    border-radius: 0px;
    padding: 15px;
}

ul.mot-de-direction li {
    list-style: none;
    font-size: 20px;
    font-weight: 200;
    /* color: rgb(245, 110, 20); */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0.2px 5px 5px rgba(0, 0, 0, 0.447);
}

ul.mot-de-direction p {
    width: 600px;
    padding: 50px;
}

li.halim {
    background-color: rgb(236, 119, 41);
    border-radius: 0;
}

li.abdelaziz {
    background-color: aliceblue;
}

ul.mot-de-direction img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 770px) {
    ul.mot-de-direction {
        flex-direction: column;
    }
    ul.mot-de-direction li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2.title {
        padding-top: 200px;
    }
}

/* .img_scroll {
    display: flex;
    animation-duration: 20s;
    animation-name: scroll-img;
    animation-iteration-count: infinite;
}

@keyframes scroll-img {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(-600px);
    }
    66% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0px);
    }
} */