h1.title {
    padding-top: 150px;
    color: rgb(234, 140, 40);
    margin-bottom: 45px;
    margin-left: 3%;
    width: fit-content;
}

img.title {
    margin-bottom: 45px;
    margin-left: 250px;
    width: 70%;
}

h2 {
    width: fit-content;
    margin-left: 45px;
    margin-bottom: 45px;
    font-size: 30px;
    color: rgb(234, 140, 40);
    border-bottom: 2px solid rgb(234, 140, 40);
}

img.references {
    width: auto;
    height: 60px;
    margin-bottom: 45px;
    margin-left: 12vw;
    margin-right: 12vw;
}

.Prestation_Multitechnique {
    list-style: none;
    background-color: rgb(234, 140, 40);
    border-radius: 15px;
    width: 600px;
    height: 200px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.Prestation_Multitechnique li {
    /* text-align: center; */
    text-justify: auto;
    font-size: 20px;
    margin: 15px;
}

div.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: rgb(234, 140, 40);
    margin-bottom: 10px;
}

.back {
    background-color: rgb(88, 88, 88);
    border-radius: 15px;
    border-radius: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 45px;
}

.row ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
}

.row li {
    transition: 0.3s ease-in-out;
    /* text-align: center; */
    margin: 15px;
    font-size: 20px;
}

.row li:hover {
    scale: 1.1;
}

.Orange {
    /* background: linear-gradient(to bottom right, rgb(234, 140, 40), rgb(97, 96, 96), rgb(194, 194, 194)); */
    background-color: rgb(234, 140, 40);
    border-radius: 15px;
}

.Gris {
    /* background: linear-gradient(to bottom right, rgb(194, 194, 194), rgb(97, 96, 96), rgb(234, 140, 40)); */
    background-color: rgb(194, 194, 194);
    border-radius: 15px;
}

@media screen and (max-width: 770px) {
    img.title {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .Prestation_Multitechnique {
        width: 100%;
        height: auto;
    }

    .back {
        width: 100%;
    }

    div.row {
        display: flex;
        flex-direction: column;
        margin-left: 14%;
        margin-right: 14%;
        margin-bottom: 45px;
    }
}