h1.title {
    padding-top: 180px;
    color: rgb(255, 153, 0);
    margin-bottom: 45px;
    margin-left: 25px;
    width: fit-content;
    border-bottom: 1px solid rgb(255, 153, 0);
}

p {
    width: 70%;
    color: rgb(113, 113, 113);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    text-align: justify;
}

h2 {
    width: fit-content;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(226, 126, 4);
    border-bottom: 1px solid rgb(226, 126, 4);
    padding-bottom: 5px;
    margin-top: 40px;
    margin-left: 45px;
    margin-bottom: 25px;
}
/* h2 {
    color: rgb(255, 153, 0);
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 30px;
    border-bottom: 1px solid rgb(255, 153, 0);
} */

ul.expertise {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.expertise li {
    width: 200px;
    text-align: center; 
    margin-bottom: 45px;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5%;
    border: 3px solid rgb(190, 190, 190);
    transition: 0.5s ease-in-out;
}

ul.expertise li:hover {
    background-color: rgb(226, 126, 4);
    transform: scale(1.1);
    border-radius: 5px;
}

ul.expertise li img {
    width: 100px;
    height: 100px;
}

ul.pilotage {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

ul.pilotage {
    text-align: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

ul.pilotage li img.pilotage {
    width: auto;
    height: 100px;
    margin-top: 15px;
}

ul.pilotage li {
    width: 400px;
    text-align: center;
    padding: 15px;
    margin-bottom: 45px;
    font-size: 20px;
    border: 3px solid rgb(226, 126, 4);
    transition: 0.5s ease-in-out;
}

ul.pilotage li:hover {
    background-color: silver;
    transform: scale(1.1);
    border-radius: 15px;
}